{% extends "base.html" %}

{% block title %}刷题啦-尔雅网课{% endblock %}

{%- block styles %}
{{ super() }}
<link href="../static/auth/css/base.css" rel="stylesheet" type="text/css"/>
<link href="../static/auth/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../static/auth/css/commonstyle.css" rel="stylesheet" type="text/css"/>
{%- endblock styles %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo fl"><a href="{{ url_for('auth.auth_page') }}"><img src="../static/auth/images/logo.png"
            width="320px" height="55px">></a></div>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('auth.auth_page') }}">首页</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/forum/" target="_blank">社区</a></li>
                    <li><a>欢迎,{{ current_user.name }}</a></li>
                    <li><a href={{ url_for('auth.log_off') }}>注销</a></li>
                    {% if current_user.if_admin == 1 %}
                        <li><a href={{ url_for('admin.admin_page') }}>管理员</a></li>
                    {% endif %}
                {% else: %}
                    <li class="login-click"><a>登录</a></li>
                    <li class="reg-click "><a>注册</a></li>
                {% endif %}
            </ul>
        </div>
      </div>
</nav>
{% endblock navbar %}

{% block content %}
    <div class="container-fluid">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/test/js/jquery-1.9.1.min.js"></script>
    <script src="../static/test/js/bootstrap.js"></script>
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    {{ super() }}
{% endblock %}
