<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>刷题啦-尔雅网课</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link href="../static/test/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="../static/test/js/jquery-1.9.1.min.js"></script>
    <script src="../static/test/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/test/js/Questions.js"></script>
    <script>
        var HH = 0;//时
        var mm = 0;//分
        var ss = 0;//秒
        var ansa=0;
        var ansb=0;
        var ansc=0;
        var ansd=0;

        var timeState = true;//时间状态 默认为true 开启时间
        var all_like = {{all_like|safe}};//之前已收藏的题目list

        var questions_choice = {{question_dict|safe}};
        var questions_judge = {{judge_dict|safe}};
        var questions_fill = {{fill_dict|safe}};
        var questions_all = {{all_dict|safe}};
        var last = {{last|safe}};
        var return_last=last;
        var lessonid = {{id|safe}};
        //questions_all中的题型判断：
        //var question = questions[id];
        //var items = question.questionItems.split(";");
        //if(items.length==4)：选择题   if(items.length==2)：判断题   if(items.length==1 or 0)：选择题


        var questions = questions_all      //所有题


        var itemList = ["A", "B", "C", "D", "E", "F"]
        var itemList2 = ["√", "×"]
        var activeQuestion = last; //当前操作的考题编号
        var questioned = last; //
        var jindu=last;
        var checkQues = []; //已做答的题的集合
        var checkans;//当前题的选项
        var nowanswer;
        var choice;
        /*实现计时器*/
        var time = setInterval(function () {
            if (timeState) {
                if (HH == 24) HH = 0;
                str = "";
                if (++ss == 60) {
                    if (++mm == 60) {
                        HH++;
                        mm = 0;
                    }
                    ss = 0;
                }
                str += HH < 10 ? "0" + HH : HH;
                str += ":";
                str += mm < 10 ? "0" + mm : mm;
                str += ":";
                str += ss < 10 ? "0" + ss : ss;
                $(".time").text(str);
            } else {
                $(".time").text(str);
            }
        }, 1000);

        //展示考卷信息
        function showQuestion(id) {
            checkans="#";
            nowid=id+1;
             console.log(String(id+1));
             console.log(all_like.indexOf(String(id+1)));

            if(all_like.indexOf(String(id+1))==-1){
                $("#Heart").show();

            }else{
                 $("#unHeart").show();
                 $("#Heart").hide();
            }


            $(".questioned").text(id+1);
            return_last=activeQuestion;

            questioned = (id+1) / questions.length
            if (activeQuestion != undefined) {
                $("#ques" + activeQuestion).removeClass("question_id").addClass("active_question_id");
            }
            activeQuestion = id;
            $(".question").find(".question_info").remove();
            var question = questions[id];
            nowanswer = question.questionAnswer;
            choice = nowanswer;
            $(".question_title").html("<strong>第 " + (id + 1) + " 题 、</strong>" + question.questionTitle);
            var items = question.questionItems.split(";");
            var item = "";
            $("#answer-label").hide();
            $("#fill-answer").hide();
            qans=question.questionAnswer
            //多选题的情况
            if(qans.length > 1&& qans.length<5&&items.length==4){

                    item = "<li class='question_info' onclick='clickTrim(this,5)' id='item"
                        + 0 + "'><input type='checkbox' name='item0' value='" + itemList[0] + "'>&nbsp;" + itemList[0] + "." + items[0] + "</li>";
                    $(".question").append(item);

                    item = "<li class='question_info' onclick='clickTrim(this,5)' id='item"
                        + 1 + "'><input type='checkbox' name='item1' value='" + itemList[1] + "'>&nbsp;" + itemList[1] + "." + items[1] + "</li>";
                    $(".question").append(item);

                    item = "<li class='question_info' onclick='clickTrim(this,5)' id='item"
                        + 2 + "'><input type='checkbox' name='item2' value='" + itemList[2] + "'>&nbsp;" + itemList[2] + "." + items[2] + "</li>";
                    $(".question").append(item);

                    item = "<li class='question_info' onclick='clickTrim(this,5)' id='item"
                        + 3 + "'><input type='checkbox' name='item3' value='" + itemList[3] + "'>&nbsp;" + itemList[3] + "." + items[3] + "</li>";
                    $(".question").append(item);

            }

            //单选题的情况
            else if (qans.length == 1&&items.length==4) {
                for (var i = 0; i < items.length; i++) {
                    item = "<li class='question_info' onclick='clickTrim(this,4)' id='item"
                        + i + "'><input type='radio' name='item' value='" + itemList[i] + "'>&nbsp;" + itemList[i] + "." + items[i] + "</li>";
                    $(".question").append(item);
                }
            }
            else if (items.length == 2) {
                for (var i = 0; i < items.length; i++) {
                    if (nowanswer == "1") {
                        choice = "A";
                        nowanswer = "√";
                    }
                    else if (nowanswer == "0") {
                        nowanswer = "×";
                        choice = "B";
                    }
                    item = "<li class='question_info' onclick='clickTrim(this,2)' id='item"
                        + i + "'><input type='radio' name='item' value='" + itemList[i] + "'>&nbsp;" + itemList2[i] + "." + items[i] + "</li>";
                    $(".question").append(item);
                }
            }
            else {
                $("#answer-label").show();
                $("#fill-answer").show();
                document.getElementById("fill-answer").value = "";
            }
            $(".question").attr("id", "question" + id);
            $("#ques" + id).removeClass("active_question_id").addClass("question_id");
            for (var i = 0; i < checkQues.length; i++) {
                if (checkQues[i].id == id) {
                    $("#" + checkQues[i].item).find("input").prop("checked", "checked");
                    $("#" + checkQues[i].item).addClass("clickTrim");
                    $("#ques" + activeQuestion).removeClass("question_id").addClass("clickQue");
                }

            }
            progress();
            $(".correct-answers").hide();
            $(".wrong-answers").hide();
            $("#showAnswers").show();
            $("#unheart").show();
            $("#heart").hide();

            $.ajax({
                url:"./save_page",
                type:'post',
                data:{
                    "last": activeQuestion,
                    "lessonid" : lessonid
                },
                success:function(data){
                    //alert(data);
                }
            })
        }

        /*答题卡*/
        function answerCard() {
            $(".question_sum").text(questions.length);
            for (var i = 0; i < questions.length; i++) {
                var questionId = "<li id='ques" + i + "'onclick='saveQuestionState(" + i + ")' class='questionId'>" + (i + 1) + "</li>";
                $("#answerCard ul").append(questionId);
            }
        }

        /*选中考题*/
        var Question;

        function clickTrim(source,itemlen) {
            var id = source.id;
            var currans = $("#" + id).find("input[name=item]:checked").val();


            //判断这个选项是否已经被选中了，如果是的话就取消选中
            if($("#" + id).find("input").prop("checked")){
                $("#" + id).find("input").attr("checked",false);
                $("#" + id).removeClass("clickTrim");
            }
            else{
                $("#" + id).find("input").prop("checked", true);
                $("#" + id).addClass("clickTrim");
            }
            // $("#ques" + activeQuestion).removeClass("question_id").addClass("clickQue");
            var ques = 0;

            for (var i = 0; i < checkQues.length; i++) {
                if (checkQues[i].id == activeQuestion && checkQues[i].item != id) {
                    ques = checkQues[i].id;
                    checkQues[i].item = id;   //获取当前考题的选项ID
                    checkQues[i].answer = $("#" + id).find("input[name=item]:checked").val();//获取当前考题的选项值
                    checkans = $("#" + id).find("input[name=item]:checked").val();
                }
            }
            //每次更换选项后都更新
            var checkans01= String(checkans0);
            var checkans11= String(checkans1);
            var checkans21= String(checkans2);
            var checkans31= String(checkans3);
           var checkans0 = $("#" + id).find("input[name=item0]:checked").val();
           var checkans1 = $("#" + id).find("input[name=item1]:checked").val();
           var checkans2 = $("#" + id).find("input[name=item2]:checked").val();
           var checkans3 = $("#" + id).find("input[name=item3]:checked").val();
           checkans0=String(checkans0);
           checkans1=String(checkans1);
           checkans2=String(checkans2);
           checkans3=String(checkans3);
           if(checkans0!=checkans01) ansa=(ansa+1)%2;
           if(checkans1!=checkans11)ansb=(ansb+1)%2;
           if(checkans2!=checkans21)ansc=(ansc+1)%2;
           if(checkans3!=checkans31) ansd=(ansd+1)%2;
           // console.log(all_like);

           /*这句话可以在chrome控制台里看到当前选项集合是什么*/

            if (checkQues.length == 0 || Question != activeQuestion && activeQuestion != ques) {
                var check = {};
                check.id = activeQuestion;//获取当前考题的编号
                check.item = id;//获取当前考题的选项ID
                check.answer = $("#" + id).find("input[name=item]:checked").val();//获取当前考题的选项值
                checkans = $("#" + id).find("input[name=item]:checked").val();
                checkQues.push(check);
            }

            //如果这个题目是单选题或者是判断题，那么选项之间是互斥的
            if(itemlen <= 4){
                $(".question_info").each(function () {
                    var otherId = $(this).attr("id");
                    if (otherId != id) {
                        $("#" + otherId).find("input").prop("checked", false);
                        $("#" + otherId).removeClass("clickTrim");
                    }
                })
            }
            Question = activeQuestion;
        }

        /*设置进度条*/
        function progress() {
            var prog = activeQuestion / questions.length;

            var pro = $(".progress").parent().width() * prog;
            $(".progres").text((prog * 100).toString().substr(0, 5) + "%")
            $(".progress").animate({
                width: pro,
                opacity: 0.5
            }, 1000);
        }

        /*保存考题状态 已做答的状态*/
        function saveQuestionState(clickId) {
            showQuestion(clickId)
        }

        $(function () {
            $(".middle-top-left").width($(".middle-top").width() - $(".middle-top-right").width())
            $(".progress-left").width($(".middle-top-left").width() - 200);
            progress();
            answerCard();
            var now=activeQuestion-1
            now = now+1
            showQuestion(now);
            /*alert(QuestionJosn.length);*/
            /*实现进度条信息加载的动画*/
            var str = '';
            /*开启或者停止时间*/
            $(".time-stop").click(function () {
                timeState = false;
                $(this).hide();
                $(".time-start").show();
            });
            $(".time-start").click(function () {
                timeState = true;
                $(this).hide();
                $(".time-stop").show();
            });

            /*收藏按钮的切换*/
            $("#unHeart").click(function () {
                $(this).hide();
                $("#heart").show();
                ptype=-1;
                c_l=questions_choice.length
                j_l=questions_judge.length
                if(activeQuestion<questions_choice.length) ptype=1;//选择题
                if(questions_choice.length<=activeQuestion && activeQuestion<(questions_choice.length+questions_judge.length))ptype=2;//判断题
                if(activeQuestion>=(questions_choice.length+questions_judge.length))ptype=3;//填空题
                $.ajax({
                url:"./like_page",
                type:'post',
                data:{
                    "likeid": activeQuestion,
                    "lessonid" : lessonid,
                    "problemtype": ptype,
                    "c_l":c_l,
                    "j_l":j_l
                },
                success:function(data){
                    //alert(data);
                }
            })

            })
            $("#heart").click(function () {
                $(this).hide();
                $("#unHeart").show();
                 ptype=-1;
                 c_l=questions_choice.length;
                j_l=questions_judge.length;
                if(activeQuestion<questions_choice.length) ptype=1;//选择题
                if(questions_choice.length<=activeQuestion && activeQuestion<(questions_choice.length+questions_judge.length))ptype=2;//判断题
                if(activeQuestion>=(questions_choice.length+questions_judge.length))ptype=3;//填空题
                $.ajax({
                url:"./dislike_page",
                type:'post',
                data:{
                    "dislikeid": activeQuestion,
                    "lessonid" : lessonid,
                    "problemtype": ptype,
                    "c_l":c_l,
                    "j_l":j_l
                },
                success:function(data){
                    //alert(data);
                }
            })

            })

            /*答题卡的切换*/
            $("#openCard").click(function () {
                $("#closeCard").show();
                $("#answerCard").slideDown();
                $(this).hide();
            })
            $("#closeCard").click(function () {
                $("#openCard").show();
                $("#answerCard").slideUp();
                $(this).hide();
            })

            //显示答案
            $("#showAnswers").click(function () {
                if(ansa==1||ansb==1||ansc==1||ansd==1)  checkans="";
                if(ansa==1) checkans=checkans+"A";
                if(ansb==1) checkans=checkans+"B";
                if(ansc==1) checkans=checkans+"C";
                if(ansd==1) checkans=checkans+"D";
                ansa=0;
                ansb=0;
                ansc=0;
                ansd=0;
                /*alert(JSON.stringify(checkQues));*/
                //alert("已做答:"+($(".clickQue").length)+"道题,还有"+(questions.length-($(".clickQue").length))+"道题未完成");
                if (activeQuestion > questions_choice.length + questions_judge.length)
                    checkans = $("#fill-answer").val();
                 console.log(all_like);
                if (checkans == choice) {
                    nowanswer = "Right!    Answer:" + nowanswer;
                    $(".correct-answers").text(nowanswer);
                    $(".correct-answers").show();
                    $("#showAnswers").hide();
                    checkans="";
                } else {
                    nowanswer = "Wrong!    Answer:" + nowanswer;
                    $(".wrong-answers").text(nowanswer);
                    $(".wrong-answers").show();
                    $("#showAnswers").hide();
                    checkans="";
                }

            })
            //返回上一题
            $("#preQuestion").click(function () {
                $("#unHeart").show();
                $("#Heart").hide();
                //if ((activeQuestion - 1) != -1)
                showQuestion((activeQuestion + questions.length - 1) % questions.length);
                //else
                //    showQuestion(activeQuestion)
            })
            //进入下一题
            $("#nextQuestion").click(function () {
                $("#unHeart").show();
                $("#Heart").hide();
                //if ((activeQuestion + 1) < questions.length)
                showQuestion((activeQuestion + questions.length + 1) % questions.length);
                //else
                    //showQuestion(activeQuestion)
            })
        })
    </script>
</head>
<body>
<div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="content">
            <div class="row">
                <div class="btn-group">
                    <button class="btn btn-default" type="button"
                            onClick=window.open("{{ url_for('auth.auth_page') }}",'_self')>返回主页
                    </button>
                    {% if current_user.is_authenticated %}
                    <button class="btn btn-default" type="button"
                            onClick=window.open("{{ url_for('like.like_page', id=id) }}",'_self')>本门课程的收藏
                    </button>
                    <button class="btn btn-default" type="button"
                            onClick=window.open("{{ url_for('exam.exam_page', lesson_id=id) }}",'_self')>模拟测试
                    </button>
                    {% endif %}
                </div>
            </div>

            <div style="width: 100%;height:auto;display: inline-block;border: 1px solid white;position: relative;margin-top:10px;">
                <div style="width: 100%;">
                    <div style="width: 80%;margin: 0px auto">
                        <div style="width: 100%;height:100px;border: 1px solid #CCC;border-bottom:none;background:#FFF;">
                            <div class="middle-top"
                                 style="width: 100%;height: 50px;border-bottom: 1px solid #CCC;background:#2D3339; position:relative;">
                                <div class="middle-top-left pull-left"
                                     style="height: 100%;padding-left: 20px;;background:#232C31;color:#FFF;">
                                    <div class="text-center pull-left progress-left"
                                         style="border: 1px solid #A2C69A;background:#FFF;border-radius:10px;line-height:20px;height:20px;margin:15px 0px 15px 0px;font-size: 11px;position:relative;">
                                        <div class="progress pull-left"
                                             style="background: #609E53;width: 0px;height:18px;position:absolute;left: 0px;"></div>
                                        <div class="pro-text"
                                             style="left: 0px;color: #609E53;position:absolute;top:0px;width:100%;"> 已完成<span
                                                class="progres"></span></div>
                                    </div>
                                    <div class="pull-left"
                                         style=" width:135px;line-height:20px;height:20px;margin:15px;font-size:15px;">
                                        <!--已做答的数量和考题总数-->
                                        第<span class="questioned"></span>题/共<span class="question_sum"></span>题
                                    </div>
                                </div>
                                <div class="middle-top-right text-center pull-left"
                                     style="width:160px; height: 100%;border-left: 1px solid red;position: absolute;right: 0px;">
                                    <div class="stop pull-left" style="width: 50px; height: 100%;padding: 10px;"><a
                                            href="javascript:void(0);" class="text-center" style="color: #FE6547;">
                                        <div class="time-stop glyphicon glyphicon-pause" title="暂停"
                                             style="width:30px;height: 30px;line-height:30px; border-radius:15px;border: 1px solid #FE6547;"></div>
                                        <div class="time-start glyphicon glyphicon-play" title="开始"
                                             style="width:30px;height: 30px;line-height:30px;border-radius:15px;border: 1px solid #FE6547;display:none;"></div>
                                    </a></div>
                                    <div class="pull-left"
                                         style="width: 100px; height: 100%;padding: 10px 0px 10px 0px;">
                                        <div class="time"
                                             style="width:100px;height: 30px;line-height:30px; border-radius:15px;font-size:20px;color:#FFF;"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;height: 50px;font-size:15px;color: #000;line-height: 50px;padding-left: 20px;">
                                <div style="color:#FFF;background: red;width: 22px;height: 22px;border-radius:11px;line-height:22px;font-size:13px; text-align: center;"
                                     class="glyphicon glyphicon-map-marker"></div>
                                题库顺序练习模块     网课将于2018年5月5日考试，请提前做好复习规划，把握时间！
                            </div>
                        </div>
                        <div style="width: 100%;height:auto;display: inline-block;border: 1px solid #CCC;border-bottom:1px dashed #CCC;background:#FFF;">
                            <div style="width: 100%;height: 90%;padding:20px 20px 0px 20px;">
                                <!--试题区域-->
                                <ul class="list-unstyled question" id="" name="">
                                    <li class="question_title"></li>
                                </ul>

                                <!--提交上一次的题号的表单
                                <form  name="lastnumform" id="lastnumberform" method="post" action="/test_page">
                                -->
                                <form>
                                    <div class="glyphicon glyphicon-map-marker" id="answer-label">
                                        我的回答：
                                    </div>
                                    <input type="text/password" name="myInput" id="fill-answer" value=""/>
                                </form>
                                <!--考题的操作区域-->
                                <div class="operation" style="margin-top: 20px;">
                                    <div class="text-left"
                                         style="margin-left:20px;font-size: 15px;float: left;line-height: 30px;">
                                        <div id="unHeart" style="color:#999999;"><span
                                                class="glyphicon glyphicon-heart-empty"></span> <span>收藏本题</span></div>
                                        <div id="heart" style="color:#C40000;display: none;"><span
                                                class="glyphicon glyphicon-heart"></span> <span>已收藏</span></div>
                                    </div>
                                    <div class="text-right" style="margin-right: 20px;">

                                        <div class="form-group" style="color: #FFF;">
                                            <span style="color:#00EE00;font-size: 20px" class="correct-answers"></span>
                                            <span style="color:#C40000;font-size: 20px" class="wrong-answers"></span>
                                            <button class="btn btn-success" id="showAnswers">显示答案</button>
                                            <button class="btn btn-info" id="preQuestion">上一题</button>
                                            <button class="btn btn-info" id="nextQuestion">下一题</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;height:auto;display: inline-block;border: 1px solid #CCC;border-top:none;background:#FFF;">
                            <div style="width: 100%;padding:20px;">
                                <div class="panel-default">
                                    <div class="panel-heading" class="panel-heading" id="closeCard"
                                         style="color: #DCE4EC;font-size: 15px;display: none;background: none;">
                                        <span>收起答题卡</span> <span class="glyphicon glyphicon-chevron-up"></span></div>
                                    <div class="panel-heading" id="openCard" style="font-size: 15px;background: none;">
                                        <span>展开答题卡</span> <span class="glyphicon glyphicon-chevron-down"></span></div>
                                    <div id="answerCard" style="display: none;">
                                        <div class="panel-body form-horizontal" style="padding: 0px;">
                                            <ul class="list-unstyled">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: auto;display: inline-block;border: 1px solid white;">
                <div class="text-center" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
</html>